<div class="container">
  <h1>Tweet It Out!</h1>

  <%
    # In our real-world application, this is not what we want. Instead, we should
    # be checking to see if there is currently a user logged-in, and if there is,
    # we should show her a form that will allow her to send a tweet. If there is no
    # user logged-in, we should show the sign-in button.
  %>
  <% if session[:user_id] %>
    <div>
      <form id="tweet_form" action="/tweet" method="POST">
        <label>Tweet: <textarea id="tweet" required type="text" name="tweet" maxlength="140" placeholder="enter your tweet here (maximum 140 characters)"></textarea></label>
        <input type='submit' value='Tweet It!'></input>
      </form>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <a href="/sign_in"><img src="sign-in-with-twitter-gray.png"></a>
  <% end %>
  
</div>
